In [2]:
import pandas as pd

churn_df = pd.read_csv('churn.csv')

In [3]:
display(churn_df)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Aqui eu separei o que seria quantitativo dos que seriam qualitativo

In [4]:
quantitativo_df = ['CreditScore', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
qualitativo_df = ['Geography', 'Gender', 'HasCrCard', 'IsActiveMember', 'Exited']

Primeiro eu separei os que deram Churn ==1 dos que nÃ£o deram:

In [5]:
deu_churn = churn_df.query( 'Exited == 1')
nao_deu_churn = churn_df.query('Exited == 0')

Para fazer o cruzamento de dados eu usei a funÃ§Ã£o combinations, importada de itertools, para separar as maneiras possÃ­veis de combinar
os titulos que separei como sendo quantitativo.

In [6]:
#calculo de combinaÃ§Ãµes
#A ideia e saber qual combinaÃ§Ã£o teve mais Churn
from itertools import combinations
comb = combinations(['CreditScore', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary'], 3) #combinaÃ§Ãµes entre 3 dos 5 tÃ­tulos
listaok = list(comb)

Tendo as combinaÃ§Ãµes feitas, vou guarda-las em uma lista de combinaÃ§Ãµes:

In [27]:
dict_combinacoes = {}
for i, j in enumerate(listaok):
    dict_combinacoes[f'grupo{i}'] = ' '.join(j)
dict_combinacoes

{'grupo0': 'CreditScore Tenure Balance',
 'grupo1': 'CreditScore Tenure NumOfProducts',
 'grupo2': 'CreditScore Tenure EstimatedSalary',
 'grupo3': 'CreditScore Balance NumOfProducts',
 'grupo4': 'CreditScore Balance EstimatedSalary',
 'grupo5': 'CreditScore NumOfProducts EstimatedSalary',
 'grupo6': 'Tenure Balance NumOfProducts',
 'grupo7': 'Tenure Balance EstimatedSalary',
 'grupo8': 'Tenure NumOfProducts EstimatedSalary',
 'grupo9': 'Balance NumOfProducts EstimatedSalary'}

Na linha de cÃ³digo seguinte eu tentei usar o resultado da automatizaÃ§Ã£o anterior para trabalhar com os grupos criados a partir do uso do "combinations", porÃ©m nÃ£o deu certo pois o valor do dicionÃ¡rio ficaria dentro de uma lista, logo, nÃ£o daria para trabalhar com ele tentando acessar pela chave do dict.

In [ ]:
'''grupo01_churn = deu_churn[dict_combinacoes['grupo1']]
dict_combinacoes['grupo1'].split() '''

In [37]:
grupo1_C = deu_churn[['CreditScore', 'Tenure', 'Balance']]
grupo1_C.value_counts()
#Aqui eu concluo que 9 clientes com balance zerado e Tenure e CreditScore respectivamente 4, 6, 2 e 608, 850, 651 deram Churn

CreditScore  Tenure  Balance
608          4       0.00         3
850          6       0.00         3
651          2       0.00         3
697          1       0.00         2
719          4       0.00         2
                                 ..
601          9       163630.76    1
             8       120782.70    1
                     0.00         1
             3       92055.36     1
850          10      134381.52    1
Length: 2006, dtype: int64

In [38]:
grupo1_nc = nao_deu_churn[['CreditScore', 'Tenure', 'Balance']]
grupo1_nc.value_counts()

CreditScore  Tenure  Balance
850          3       0.00         10
             2       0.00          9
             5       0.00          8
             6       0.00          7
629          6       0.00          6
                                  ..
611          3       96381.68      1
                     83568.26      1
                     0.00          1
             2       125879.29     1
850          10      153972.89     1
Length: 6914, dtype: int64

A ideia de metodologia para realizaÃ§Ã£o do trabalho:
 - inicialmente cogitei separar em dois grupos, entre os que deram churn e os que nÃ£o deram. Com as 5 colunas quantitativas em mÃ£os eu iria realizar as combinaÃ§Ãµes possiveis entre 3 delas (sem que repetisse as mesmas colunas), e com isso observar quais combinaÃ§Ãµes tiveram mais resultados assim como fazer comparaÃ§Ãµes entre essas mesmas colunas mas agora com os clientes que nÃ£o saÃ­ram e observar graficamente o comportamento.
 - Seria feita uma comparaÃ§Ã£o por meio de grÃ¡ficos entre cada trio de colunas, aos que ficaram e aos que deram churn. A ideia por trÃ¡s seria ver o comportamento dos dados a fim de notar alguma anomalia que desse algum insight sobre o churn ou nÃ£o_churn.
 -